.idea
node_modules
*/node_modules
*/dist
pnpm-lock.yaml
.editorconfig

/config/*/*prod.config.ts

/admin/public/cesium-static

/admin/stats.html
/admin/tsconfig.tsbuildinfo
/admin/dist.zip

/prisma-generated/client
/prisma-generated/client-postgresql
/prisma-generated.zip
/prisma/migrations

/script/dist.zip

/server/dist.zip
