.idea
node_modules
*/node_modules
*/dist
pnpm-lock.yaml
.editorconfig

/config/*/*.config.ts

/admin/public/Assets
/admin/public/ThirdParty
/admin/public/Widgets
/admin/public/Workers

/admin/stats.html
/admin/tsconfig.tsbuildinfo
/admin/dist.zip

/prisma-generated/client
/prisma-generated/client-postgresql
/prisma-generated.zip
/prisma/migrations

/server/dist.zip
