.idea
node_modules
*/node_modules
*/dist
pnpm-lock.yaml
.editorconfig

/config/*/*prod.config.ts

/admin/dist.zip
/admin/public/cesium-static
/admin/stats.html
/admin/tsconfig.tsbuildinfo

/prisma/migrations
/prisma/mysql.schema.prisma

/prisma-generated/client-mysql
/prisma-generated/client-postgresql
/prisma-generated/client-mysql.zip
/prisma-generated/client-postgresql.zip
/prisma-generated.zip

/server/dist.zip
